RewriteEngine On
Redirect 301 /work /

RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^https://(www\.)?antoinettechow.com [NC]
RewriteRule \.(jpg|jpeg|png|gif)$ - [F]

# ErrorDocument 404 /errors/not-found.html
# ErrorDocument 500 /errors/server-err.html

Options -Indexes
Options -ExecCGI
