@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Futura";
  src: url("../../assets/Hershey-Noailles-Futura-Simplex-Regular.woff") format("woff");
}
@font-face {
  font-family: "Times";
  src: url("../../assets/Hershey-Noailles-Times-Duplex-Italic-Light.woff") format("woff");
}
:root {
  --sans: "Futura", Futura, sans-serif;
  --serif: "Times", Times, serif;
  --pink: #f8dce1;
  --lightpink: #fcf1f3;
}

html, body {
  height: 100vh;
  width: 100vw;
  font-family: var(--sans);
  font-size: 21px;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: unset;
}

@media screen and (min-width: 670px) {
  div {
    scroll-margin-top: 75px;
  }
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

::selection {
  background: palegoldenrod;
}

::-moz-selection {
  background: palegoldenrod;
}

#content {
  height: 100%;
}

.hidden {
  display: none;
}

.blink {
  transition: opacity 0.3s;
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

div.wip:hover .blink, .lost .blink, .blurb .blink {
  animation: blink 1s infinite;
}

/* -- LINKS -- */
a {
  text-decoration: none;
  color: unset;
}
a:hover {
  background: var(--pink);
  cursor: pointer;
}

.link a {
  color: gray;
}

/* -- LISTS -- */
ol, ul {
  list-style: none;
}

ol.numList {
  list-style-type: decimal-leading-zero;
}

li {
  margin-bottom: 0.75rem;
}
li span {
  font-family: var(--serif);
  font-size: 0.75rem;
}
li p {
  font-size: 0.75rem;
  margin-top: 4px;
}

.list {
  list-style: inside;
}
.list li {
  margin: 4px 0;
}
.list li:last-child {
  margin-bottom: 12px;
}


/* -- name + liminal space link -- */
#name {
  height: 100%;
}
#name h1 {
  font-size: 1rem;
  line-height: 1;
}
#name h1 a:hover {
  background: unset;
}

.info p {
  font-size: 0.75rem;
  line-height: 1.1;
}
.info .blurb {
  padding: 4px 0 6px 0;
}
.info .blurb .hire {
  margin-right: 6px;
}
.info .blurb .hire span {
  animation: blink 1.5s infinite;
}
.info .blurb .hire::after {
  content: attr(data-text);
  display: none;
}
.info .blurb .hire:hover span {
  display: none;
}
.info .blurb .hire:hover .blink {
  animation: none;
}
.info .blurb .hire:hover::after {
  display: inline-block;
}
.info .resume {
  padding-top: 2px;
}

#who {
  position: relative;
  display: inline-block;
  color: unset;
  cursor: help;
}
#who span {
  display: none;
}
#who:hover span {
  display: inline;
}

.blurb {
  font-size: 0.75rem;
  padding: 4px 0;
}

.more-info {
  position: sticky;
  top: calc(100vh - 30px);
  left: 30px;
  padding: 30px;
  align-items: flex-end;
  font-size: 0.75rem;
  line-height: 100%;
}
.more-info .visit-space a {
  display: inline-flex;
  transition: background 0.3s ease;
}
.more-info .visit-space a span {
  display: none;
}
.more-info .visit-space a:hover {
  cursor: alias;
  background: radial-gradient(circle, var(--pink) 0%, transparent 100%);
}
.more-info .visit-space a:hover span {
  display: inline-block;
}

/* --- FOOTER --- */
footer {
  width: 100%;
  box-sizing: border-box;
  background: whitesmoke;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 0.8rem;
  line-height: 1;
}

.footer {
  position: absolute;
  top: 100vh;
  gap: 0.75rem;
  padding: 20px 30px;
}
.footer > div:nth-child(1), .footer > div:nth-child(4) {
  flex-basis: 50%;
}
.footer > div:nth-child(3) {
  flex-basis: 100%;
}
.footer #lastMod {
  align-self: flex-end;
}
@media screen and (max-width: 430px) {
  .footer div {
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 747px) {
  .footer {
    position: relative;
    top: 0;
    bottom: -7rem;
  }
  .footer > div:nth-child(1) {
    font-size: 1.25rem;
  }
  .footer > div#time {
    order: 1;
  }
}
@media screen and (max-width: 646px) {
  .footer {
    bottom: -8.5rem;
    padding: 24px 30px;
  }
  .footer.projP {
    bottom: -12rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
  }
  .footer > div {
    flex-basis: 100% !important;
  }
}

#footer {
  padding: 20px 0;
  align-items: flex-end;
}
#footer > * {
  padding: 0 30px;
}

@supports (padding: max(0px)) {
  body, header, footer {
    padding-left: min(0vmin, env(safe-area-inset-left));
    padding-right: min(0vmin, env(safe-area-inset-right));
  }
}
/* -- OTHER LAYOUTS -- */
.horizontal-scroll {
  display: flex;
  flex-flow: row nowrap;
  gap: 24px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(100% + 60px);
  padding: 0 30px;
  box-sizing: border-box;
  position: relative;
  left: -30px;
}
.horizontal-scroll > div {
  flex: 0 0 65%;
}

/*.horizontal-scroll {
  display: flex;
  flex: row nowrap;
  gap: 20px;
  position: relative;
  top: 60px;
  left: -30px;
  padding: 0 30px;
  height: 85%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}*/
#vert_img {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-bottom: 2%;
}
#vert_img video,
#vert_img img {
  display: block;
  height: 100%;
}

/* --- CURSORS --- */
.crosshair {
  cursor: crosshair;
}

.context {
  cursor: context-menu;
}

/* --- SLIDE ANIMATION --- */
@view-transition {
  navigation: auto;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation-timing-function: ease;
}

@keyframes rotate-right-down {
  from {
    transform-origin: bottom left;
    transform: rotate(-45deg) translateY(-100%);
  }
}
@keyframes rotate-left-up {
  to {
    transform-origin: top left;
    transform: rotate(-45deg) translateY(-100%);
  }
}
.slideanim {
  visibility: hidden;
  visibility: visible\9 ; /* For old IE browsers IE6-8 */
}
.slideanim.slide {
  visibility: visible;
  animation: slide 1s;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(14%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#liminalspace {
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  cursor: none;
}

#point-csr {
  position: absolute;
  top: -50px;
  pointer-events: none;
  transition: all 0.05s ease;
  z-index: 1;
  font-size: 2rem;
}

/* -- intro -- */
.intro {
  height: 100vh;
  width: 100vw;
  display: block;
  position: fixed;
  top: 0;
}

.center {
  margin: 0;
  position: absolute;
  top: 48%;
  width: 100%;
  text-align: center;
}

.select-page {
  margin-top: 1.25rem;
}
.select-page select {
  background: var(--lightpink);
  height: 32px;
  padding: 0 10px 0 8px;
  transform: translateX(2px);
  border: 1px outset pink;
  animation: border 1s infinite;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: var(--sans);
  font-size: 0.75rem;
  letter-spacing: 0.25px;
  cursor: none;
}
.select-page select:focus {
  cursor: pointer;
}
@keyframes border {
  0%, 50% {
    border-style: outset;
  }
  50.01%, 100% {
    border-style: inset;
  }
}

/* -- skills -- */
#skills {
  display: inline-flex;
  margin: 30% 0 0 20%;
  white-space: nowrap;
}
#skills p {
  font-family: var(--serif);
  font-size: 32px;
}
@media screen and (max-width: 752px) {
  #skills {
    display: block;
  }
}

/* -- footer -- */
#liminalspace .footer {
  top: unset;
  bottom: -5rem;
  padding: 15px 20px;
  transition: 0.5s ease;
  z-index: 2;
}
#liminalspace .footer:hover {
  bottom: 0;
}

/* ------- WORK ------- */
.work, .more-info {
  width: calc(100% - 60px);
  display: flex;
  flex-flow: row nowrap;
}
.work > *, .more-info > * {
  flex: 0 0 50%;
}

.work {
  position: fixed;
  top: 0;
  overflow-y: hidden;
  align-items: flex-start;
}

.homepage .work {
  margin: 30px;
  height: calc(100vh - 60px);
}
.homepage .more-info {
  background-color: white;
}

.info h6 a, #proj-list p {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.625) !important;
  letter-spacing: 0.25px;
  background: unset;
}

.folio {
  font-size: 0.75rem;
  line-height: 100%;
}
.folio span {
  display: none;
}
.folio p:hover span {
  display: inline-block;
}

/* ------- PROJECTS ------- */
#projects {
  margin: 30px 0;
  height: calc(100% - 60px);
  overflow: auto;
}

#categories {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 28px;
  width: calc(50% - 30px);
}
#categories span {
  display: none;
}
#categories .active span {
  display: inline-block;
}

.category {
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: context-menu;
  padding-top: 5px;
}
.category.active {
  border: 1px outset pink;
  padding: 8px 12px 4px 12px;
  background: var(--lightpink);
  line-height: 1;
}

#proj-list {
  margin-top: 20px;
  margin-bottom: 30px;
}
#proj-list div {
  margin-bottom: 0.75rem;
}
#proj-list div:hover {
  background: pink;
}
#proj-list div.wip:hover {
  background: gainsboro;
}
#proj-list div span {
  font-family: var(--serif);
  font-size: 0.75rem;
}
#proj-list p {
  font-size: 0.75rem;
  margin-top: 4px;
}
#proj-list .wip > * {
  color: rgba(0, 0, 0, 0.25);
}
#proj-list .title {
  display: inline;
  padding-right: 6.5px;
}
#proj-list img {
  display: none;
  position: fixed;
  top: 50%;
  left: 30px;
  transform: translate(0, -50%);
  width: calc(50vw - 54px);
  max-height: 72vh;
  object-fit: cover;
  z-index: -1;
}
#proj-list .showcase {
  background-color: var(--lightpink);
}
#proj-list .showcase img {
  display: block !important;
}
#proj-list .fadeout {
  opacity: 0;
  transition: opacity 0.3s ease;
}

#view {
  display: none;
  position: absolute;
  pointer-events: none;
  font-family: var(--serif);
  z-index: -1;
  color: white;
  mix-blend-mode: exclusion;
}

.subtext {
  position: relative;
  font-size: 0.875rem;
  padding: 3px 0 3px 14px;
  display: none;
}
.subtext::before {
  content: "∟ ";
}

#proj-list .subtext::before {
  position: absolute;
  left: 0;
}

/* --- responsiveness --- */
@media screen and (max-width: 747px) {
  #scroll-trigger {
    display: none;
  }
  .work {
    flex-flow: row wrap;
    gap: 30px;
    position: relative;
    height: calc(100vh - 30px) !important;
    margin-bottom: 0;
  }
  .work > section {
    flex-basis: 100%;
  }
  #name {
    height: auto;
    margin-top: 42px;
  }
  .more-info {
    padding-top: 20px;
    flex-flow: column nowrap;
    align-items: initial;
    gap: 32px;
    text-align: center;
  }
  .more-info > div {
    flex: 0 0 auto;
  }
  .more-info .more span, .more-info .visit-space a span {
    display: block;
  }
  .more-info .visit-space {
    order: 2;
  }
  .homepage .more-info {
    margin-bottom: 30px;
  }
  #projects {
    order: 2;
    height: calc(100vh - 180px);
    margin-top: 0;
  }
  #projects a {
    cursor: none;
  }
  #projects a:last-child {
    margin-bottom: 30px;
  }
  #proj-list .subtext {
    display: block;
    padding-left: 18px;
  }
  #proj-list img {
    display: block;
    position: relative;
    width: 100%;
    padding: 6px 0 30px 0;
    top: 0;
    left: 0;
    margin-right: 0;
    transform: none;
  }
  #categories {
    width: calc(100% - 60px);
  }
  .category.active {
    padding: 6px 2px 4px 4px;
  }
}
#about-page {
  background: whitesmoke;
  padding: 30px;
  box-sizing: border-box;
  overflow: hidden;
}

.about-me {
  width: 50%;
}
.about-me .myInfo {
  position: relative;
  z-index: -10;
}
.about-me .myInfo .myDesc img {
  height: 3vh;
  max-width: 100%;
  padding-bottom: 4px;
}
.about-me .myInfo .myDesc img:first-child {
  height: auto;
  margin-bottom: 6px;
}
.about-me #myPic {
  width: 100%;
  margin: 30px 0;
  padding: 24px 0;
  aspect-ratio: 3/2;
  background: var(--pink);
}
.about-me #myPic img {
  height: 88%;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 3/2;
  object-fit: cover;
  top: 50%;
}
.about-me .song {
  position: fixed;
  bottom: 0;
  left: 10px;
  width: calc(50vw - 20px);
  z-index: 10;
}
.about-me .song iframe {
  height: 100px;
  width: 60px;
  border: 0;
  position: absolute;
  bottom: -30px;
  opacity: 0;
}
.about-me .song .SC-text {
  position: absolute;
  bottom: 10px;
  z-index: -1;
  pointer-events: none;
  width: 100%;
  height: 80px;
  padding: 20px;
  display: inline-flex;
  align-items: flex-end;
  gap: 4px;
  line-height: 1;
}
.about-me .song .SC-text .play-btn {
  position: relative;
  padding-right: 12px;
  display: flex;
  align-items: flex-end;
}
.about-me .song .SC-text .SC-link {
  display: none;
  pointer-events: auto;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  text-align: center;
  font-size: 0.75rem;
}

.about-content {
  position: fixed;
  height: calc(100% - 60px);
  width: calc(100% - 60px);
  top: 30px;
  left: 30px;
  pointer-events: none;
}
.about-content .note {
  position: absolute;
  cursor: grab;
  width: 240px;
  aspect-ratio: 1/1;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0% 100%);
  z-index: 0;
  pointer-events: auto;
  display: none;
}
.about-content .note > div {
  height: 100%;
  padding: 30px;
  margin: 4px;
  box-sizing: border-box;
  background-color: snow;
  box-shadow: -2px 1px 3px rgba(0, 0, 0, 0.06), -1px 0px 1px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  gap: 20px;
}
.about-content .note > div .dogear {
  position: absolute;
  bottom: 4px;
  right: 3px;
  height: 0;
  width: 0;
  border-right: 40px solid transparent;
  border-top: 40px solid rgba(185, 185, 180, 0.25);
  box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.25);
}
.about-content .note > div .dogear:hover {
  cursor: pointer;
}
.about-content .note > div:active {
  cursor: grabbing;
}
.about-content .note > div .note-content {
  display: none;
  height: 0;
  transition: max-height 0.3s ease-out;
}
.about-content .note.unfolded {
  display: flex;
  flex-flow: column nowrap;
  aspect-ratio: auto;
  clip-path: none;
  height: auto;
  width: auto;
}
.about-content .note.unfolded > div .dogear {
  height: 100%;
  width: 100%;
  border: none;
  box-shadow: none;
}
.about-content .note.unfolded > div img.note-title {
  width: 75%;
  margin: 6px auto;
}
.about-content .note.unfolded > div .note-content {
  display: block;
  height: auto;
}
.about-content .note.unfolded > div .note-content img {
  width: 32vw;
  max-height: 36vw;
}
.about-content .note.unfolded > div .note-content p {
  font-size: 0.75rem;
}
.about-content .note.unfolded > div .note-content.jan {
  display: flex;
  flex-flow: column nowrap;
}
.about-content .note.unfolded > div .note-content.jan img {
  width: auto;
  padding: 4px 0;
}
.about-content .note.unfolded > div .note-content.jan a {
  z-index: 100;
}
.about-content .note.unfolded > div .note-content.jan a img {
  width: 6vw;
}

/* --- responsiveness --- */
@media screen and (max-width: 747px) {
  .about-me {
    width: 100%;
    height: 100%;
  }
  .about-me .myInfo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: calc(100% - 78px);
  }
  .about-me #myPic img {
    height: 50vw;
  }
  .about-me .song {
    width: 100%;
  }
  .about-content .note {
    width: 200px;
  }
  .about-content .note > div .dogear {
    border-right: 33px solid transparent;
    border-top: 33px solid rgba(185, 185, 180, 0.25);
  }
  .about-content .note.unfolded > div .note-content img {
    width: 80vw;
    max-height: 100%;
  }
}
/* --- PROJECT PAGES --- */
.container {
  padding: 30px;
  width: calc(100vw - 60px);
  display: flex;
  flex-flow: row wrap;
}

#nav, #proj-info {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}

#nav {
  justify-content: space-between;
}

#menu-container {
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 100%;
}
#menu-container .current {
  background: var(--lightpink);
}
#menu-container .current::before {
  content: "✸ "; /* → */
}
#menu-container .disabled {
  pointer-events: none;
}
#menu-container.show {
  max-height: 645px;
  opacity: 1;
}
#menu-container ul {
  height: 100%;
  overflow: scroll;
}
#menu-container > * {
  flex-basis: 50%;
}

#menu-btn {
  cursor: pointer;
}

#menu-line {
  display: none;
  width: 100%;
  border-bottom: 1px solid #888;
}

#proj-info {
  align-content: space-between;
  margin: 30px 0;
}
#proj-info h2 {
  font-family: var(--serif);
  font-size: 2rem;
  flex-basis: 100%;
}

.content-info {
  width: 50%;
  padding-top: 12px;
  align-content: flex-end;
}

.details {
  display: block;
  font-size: 0.75rem;
}
.details > div {
  display: flex;
  padding: 3px 0;
}
.details h4 {
  width: 150px;
}

.desc, .case-study > p {
  font-size: 1rem;
  line-height: 130%;
}

.project {
  max-width: calc(100vw - 60px);
}
.project > div {
  line-height: 115%;
  padding-bottom: 10%;
  font-size: 0.75rem;
}
.project img {
  width: 100%;
  margin-bottom: 12px;
}
.project iframe {
  max-width: calc(100vw - 60px);
  aspect-ratio: 16/9;
}
.project .half {
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
}
.project .half > * {
  flex-basis: calc(50% - 12px);
  box-sizing: border-box;
}
.project .half .spacer {
  height: 36%;
}

.case-study {
  display: flex;
  flex-flow: column nowrap;
}
.case-study.left > * {
  margin-right: 50%;
}
.case-study.right > * {
  margin-left: 50%;
}
.case-study h5 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 0.5rem;
}
.case-study > p {
  margin-bottom: 4rem;
}

.case-points {
  margin: 0.5rem 0;
}
.case-points h3 {
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}
.case-points.pain h3::before {
  content: "✗ ";
}
.case-points.todo h3::before {
  content: "□ ";
}
.case-points p {
  margin-bottom: 0.75rem;
  padding: 0 0.75rem;
}

@media screen and (max-width: 670px) {
  #menu-container {
    display: block;
  }
  #menu-container > div:nth-child(2) {
    padding-top: 20px;
  }
  .details {
    width: auto;
    padding: 20px 0;
  }
  .details h4 {
    width: 120px;
  }
  .desc {
    width: auto;
  }
  .project {
    max-width: calc(100vw - 60px);
  }
  .project > div {
    padding-bottom: 20%;
  }
  .project .half > * {
    flex-basis: 100%;
  }
  .case-study.left > *, .case-study.right > * {
    margin-left: 0;
    margin-right: 0;
  }
}
#projNav {
  display: flex;
  width: calc(100% - 60px);
  padding: 0 30px 48px 30px;
  justify-content: space-between;
}
#projNav a:hover {
  background-color: unset;
}
#projNav a:hover span {
  font-family: var(--serif);
  font-size: 1.25rem;
}
#projNav span {
  padding: 0 4px;
}
#projNav .prevProj {
  text-align: left;
}
#projNav .prevProj img {
  object-position: left;
}
#projNav .nextProj {
  text-align: right;
}
#projNav .nextProj img {
  object-position: right;
}
#projNav img {
  display: none;
  flex-basis: 100%;
  max-width: calc(100vw - 60px);
  max-height: 60vh;
  object-fit: contain;
  padding-top: 8px;
}

#footer > div:nth-child(1), #footer > div:nth-child(3) {
  flex-basis: 66%;
}

.footer-text {
  font-size: 1rem;
  margin-top: 10px;
}

.Cyear {
  margin-top: 80px;
}

.email::after {
  content: "email";
}
.email:hover::after {
  content: "chowantoinette@gmail.com";
}

#colors_archive img {
  border: solid 1px;
}

/* --- OTHER PAGES --- */
.page-title {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  font-family: var(--serif);
  font-size: 5vw;
}
@media screen and (max-width: 540px) {
  .page-title {
    top: 48px;
    font-size: 12vw;
  }
}

.other-pages .work {
  padding: 30px;
  height: 100vh;
}

#projects.other-pages {
  margin: -30px 0 0 0;
  padding: 30px 0;
  height: calc(100vh - 30px);
}

#other-projects {
  background-color: white;
}
#other-projects li:last-child {
  margin-bottom: 30px;
}

.other-img img {
  width: 100%;
  mix-blend-mode: multiply;
  padding-top: 4px;
}
.other-img li:hover {
  background-color: pink;
}

.other {
  padding: 30px;
  width: calc(100vw - 60px);
  height: calc(100vh - 60px);
  overflow: scroll;
}
.other .horizontal-scroll {
  position: relative;
  top: 60px;
  height: 85%;
}

.other-info {
  height: calc(100% - 60px + 2px);
  width: calc(40% - 30px);
  display: flex;
  position: fixed;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.other-info p {
  display: block;
  width: 70%;
}
.other-info h2 {
  position: absolute;
  top: 50px;
  font-family: var(--serif);
  font-size: 1.5em;
}
@media screen and (max-width: 820px) {
  .other-info {
    width: calc(100vw - 60px);
  }
  .other-info p {
    width: 100%;
  }
}

.other-details {
  width: 100%;
  display: block;
  font-size: 0.75rem;
}
.other-details > div {
  display: flex;
  padding: 3px 0;
}
.other-details h4 {
  width: 100px;
}

.other-content {
  overflow: scroll;
  width: 60%;
  float: right;
}
.other-content div {
  display: flex;
  flex-flow: column nowrap;
  line-height: 115%;
  padding-bottom: 20%;
  font-size: 0.75rem;
}
.other-content div:last-child {
  padding-bottom: 30px;
}
.other-content img {
  margin-bottom: 2%;
}
.other-content h2 {
  font-family: var(--serif);
  font-size: 1.75em;
  padding-bottom: 8px;
  line-height: 0.85;
}
.other-content h3 {
  font-size: 1.375em;
  padding: 3px 0 6px 0;
}

.other-desc {
  font-size: 1rem;
  line-height: 115%;
}

.my.other-content div {
  padding-bottom: 10%;
}
.my.other-content div:last-child {
  padding-bottom: 30px;
}
.my.other-content p {
  padding: 2px 0;
  max-width: 700px;
}
.my.other-content span {
  font-family: var(--serif);
}
.my.other-content img {
  padding-top: 2px;
}
.next-steps h2 {
  margin-bottom: 6px;
}
.next-steps li {
  margin-top: 8px;
  margin-bottom: 0;
}
.next-steps li::before {
  content: "\25A2";
  margin-right: 10px
}

/* SAY WHAT - EPISODES */
ol.epList {
  list-style-type: none;
  counter-reset: custom-counter;
}
ol.epList li {
  counter-increment: custom-counter;
  display: inline-block;
  width: 32.9%;
  margin: 4px 0;
}
ol.epList li::before {
  content: "ep." counter(custom-counter) " ";
  padding-right: 2px;
}
ol.epList li:hover {
  font-size: 1.25em;
}
ol.epList a:hover {
  background-color: unset;
}

#episodes div {
  flex-flow: row wrap;
  gap: 20px;
  align-items: flex-start;
}
#episodes div div {
  width: 45%;
  flex-grow: 1;
  min-height: 100%;
  align-self: stretch;
  padding-bottom: 0;
}
#episodes img {
  width: 48%;
  aspect-ratio: 1/1;
  margin-bottom: 0;
}
#episodes ol.numList {
  width: 100%;
}
#episodes p {
  align-self: flex-end;
  width: 100%;
}

@media screen and (max-width: 670px) {
  .other-content {
    position: relative;
    top: 120px;
    height: calc(100% - 275px);
    width: 100%;
    overflow: scroll;
    background-color: white;
    border-bottom: 1px solid #000;
  }
  .my.other-content div {
    padding-bottom: 20%;
  }
  ol.epList li {
    width: 49%;
  }
  #episodes div {
    flex-flow: column nowrap;
  }
  #episodes div div {
    width: 100%;
    padding-bottom: 30px;
  }
  #episodes img {
    width: 100%;
  }
}
/* JOB SEARCH */
.jobsearch video {
  height: 88vh;
  max-width: 49.5vh;
}

/* --- PHOTOGRAPHY --- */
.photo-title {
  position: relative;
  top: 30px;
  font-family: var(--serif);
  font-size: 1.5em;
}

.gallery {
  padding: 60px 0 30px 0;
  position: relative;
  width: 100%;
}

.photo {
  position: relative;
  padding-top: 3%;
}
.photo:first-child {
  padding-top: 0;
}
.photo img {
  max-height: 120vh;
  max-width: 46vw;
  padding-bottom: 4%;
}
@media (max-width: 800px) {
  .photo {
    width: 100%;
    display: block;
  }
  .photo img {
    min-width: 100%;
    display: block;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.FL {
  float: left;
}

.FR {
  float: right;
}

#full img {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
