* {
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: "Futura";
  src: url('Hershey-Noailles-Futura-Simplex-Regular.woff') format("woff");
}

@font-face {
  font-family: "Times";
  src: url('Hershey-Noailles-Times-Duplex-Italic-Light.woff') format("woff");
}

:root {
	--sans: "Futura", Futura, sans-serif;
	--serif: "Times", Times, serif;
}

html, body {
	height: 100%;
	width: 100%;
	font-family: var(--sans);
	font-size: 21px;
	scroll-behavior: smooth;
	overscroll-behavior-y: none;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

a {text-decoration: none;}

.link a {color: gray;}
.link a:hover {color: gainsboro;}

::selection {background: pink;}
::-moz-selection {background: pink;}


/* --- HOME --- */

#home {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

/* -- intro -- */

.intro {
	height: 100vh;
	width: 100vw;
	display: block;
	position: fixed;
	top: 0;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
}

/*.center span {display: none;}
.center:hover span {display: block;}*/

/* -- skills -- */

#skills {
	display: inline-flex;
	margin-top: 30%;
	margin-left: 20%;
	white-space: nowrap;
}

#skills p {
	font-family: var(--serif);
	font-size: 32px;
}


/* --- FOOTER --- */

footer {
	display: flex;
	position: absolute;
	bottom: -5.5rem;
	width: 100%;
	font-size: 0.8rem;
	background: whitesmoke;
	padding-bottom: 20px;
	z-index: 1;
	flex-flow: row wrap;
	justify-content: space-between;
	transition: 0.5s ease;
}

footer:hover {
	bottom: 0;
}

footer div {
	position: relative;
	padding: 15px 1rem 0 1rem;
}

footer br {display: none;}

.old:hover a::after {content: " old website";}

.Cyear {
	align-self: flex-end;
}

@media screen and (max-width: 752px) {
	#skills {
		display: block;
		margin-top: 40%;
	}

	footer {
		padding-bottom: 12px;
	}

	footer br {display: block;}

	#time {
		order: 1;
		width: auto;
	}

	.social {width: 100%;}
}

@media screen and (max-width: 420px) {
	footer {
		font-size: 5vw;
		bottom: -11rem;
	}
	footer br {display: none;}
	footer div {
		padding-bottom: 12px;
		flex-basis: auto;
	}
}

@supports(padding:max(0px)) {
    body, header, footer {
        padding-left: min(0vmin, env(safe-area-inset-left));
        padding-right: min(0vmin, env(safe-area-inset-right));
    }
}



/* --- CURSORS --- */

.crosshair       { cursor: crosshair; }
.context         { cursor: context-menu; }




/* WORK --------- */

.work {
	padding: 30px;
	width: calc(100vw - 60px);
	height: calc(100vh - 60px);
	overflow: scroll;
}

.info {
	height: calc(100% - 60px);
	width: calc(40% - 30px);
	display: flex;
	position: fixed;
	flex-flow: column nowrap;
	justify-content: space-between;
}

.info p {
	display: block;
}

@media screen and (max-width: 1072px) {
	.info {width: calc(100vw - 60px);}
}

.name a {
	color: unset;
}
.name span {display: none;}
.name:hover span {display: block;}

.contact span {
	display: none;
	padding-bottom: 12px;
}
.contact:hover span {display: block;}

.content {
	overflow: scroll;
	width: 55%;
	float: right;
}

#view {
	display: none;
	position: fixed;
	font-family: var(--serif);
	z-index: -1;
}

.content div {
	display: flex;
	flex-flow: column nowrap;
	padding-bottom: 2%;
}

.content div:last-child {
	padding-bottom: 30px;
}

#projects a {
	cursor: none;
}

#projects img {
	width: calc(100% - 30px);
	display: none;
	mix-blend-mode: multiply;
}

#projects div:hover img {
	display: block;
	padding-top: 4px;
}

#projects span {
	font-family: var(--serif);
}

#projects p span {
	font-size: 0.75rem;
}

@media screen and (max-width: 670px) {

	.content {
		width: 100%;
		float: none;
		position: relative;
		top: 60px;
		line-height: 150%;
	}
}


/* INNER PAGES --------- */

.info h2 {
	position: absolute;
	top: 50px;
	font-family: var(--serif);
	font-size: 1.5em;
	font-weight: 700;
}

.details {
	width: 100%;
	display: block;
	font-size: 0.75rem;
}

.details > div {
	display: flex;
	padding: 2px 0;
}

.details h4{
	width: 100px;
}

.desc {
	font-size: 1rem;
	line-height: 115%;
}

.project > div {
	line-height: 115%;
	padding-bottom: 20%;
	font-size: 0.75rem;
}

.project img {
	padding-bottom: 2%;
}

@media screen and (max-width: 670px) {
	.project {
		position: relative;
		top: 100px;
		height: calc(100% - 220px);
		overflow: scroll;
	}
}


