/* SYMBOLS
https://www.posterpresentations.com/alt-code_cheatsheet.html
https://www.alt-codes.net/
https://unicode-table.com/en/
*/


html, body {
	/*height: 100%;*/ /*sticky=can't use body height*/
	background-color: #eeeeec;
	margin: 0;
	padding: 0;
	font-family: 'ElaineSansRegular', sans-serif;
	/*font-family: 'Apercu Regular', sans-serif;*/
}

a:link, a:visited {
	font: inherit;
	color: inherit;
}

a:hover .ae {color:#8dc63f;}
a:hover .unh {color:#f83a80;}
a:hover .haz {color:#516ac8;} /*66ace4 77c6d8*/
a:hover .ful {color:red;}
a:hover .wes {color:#3ec1af;} /*4dc0d1*/

/*a:hover {
	color: #f08594;;
}*/

i {font-style:italic;}

.slideanim {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}
.slideanim::after {
     useful when its child elements are float:left; 
    content: "";
    display: table;
    /*clear: both;*/
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(14%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}

/* -- Header -- */

.hero_img {
	position: relative;
	margin-top: -13.8%; /* sayhi: -38.6% */
	left: .1rem;
	padding: 0 6%;
	z-index: 4;
}

.hero_img img {
	width: 45vw;
}

.hero_img img:hover {
	-ms-transform: rotate(-1deg);
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	transform: rotate(-1deg);
	position: relative;
}

.about_me {
	font-size: 2.8vw;
	position: absolute;
	z-index: 5;
	left: 38.55vw;
	display: inline;
	width: 54vw;
	line-height: 1.45;
}

.sticky {
	position: sticky;
	top: 3%;
	z-index: 100;
	font-size: 2.8vw;
	margin-top: 15%;
	margin-left: 38.65vw;
}

/*.sticky2 {
	position: sticky;
	top: 3%;
	z-index: 2;
	width: 24vw;
	height: 5vh;
	top: 4%;
	margin-left: 40vw;
	background-color: #eeeeec;
}*/

.sayhi {
	position: sticky;
	top: 70%;
	z-index: 99;
	margin-top: 40vh;
	margin-left: 92%;
}

/* -- end Header -- */



/* -- Main -- */

.main {
	padding: 6%;
}

hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-color: rgba(0,0,0,.2);
	border-width: 1px;
}

.category {
	margin-top: 12%;
	display: block;
	position: relative;
	/*background: rgba(0,0,0,.1);*/
}

/*if sticky -
.category {
	display: block;
	background: #eeeeec;
}*/

.category h2 {
	padding-top: 8%;
	display: inline-block;
	position: absolute;
	background-color: #eeeeec;
	width: 30vw;
	z-index: 100;
	font-size: 2.25vw;
	font-weight: bold;
}

.list {
	margin-top: 8%;
	overflow-y: scroll;
	overflow-x: hidden;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	height: 90vh;
	width: 100%;
	display: inline-block;
}

.card {
	display: block;
	position: relative;
	padding-bottom: 3%;
	width: 0;
}

.project {
	display: inline-block;
	width: 32.1vw;
	white-space: pre-line;
	font-size: 1.2em;
}

.project a:hover h3 {
	-ms-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	transform: rotate(4deg);
}

.peek {
	display: inline-block;
}

.peek img {
	width: 55.3vw;
	max-height: 75vh;
	object-fit: scale-down;
	/*border: solid;*/
}

/*.peek:hover {
	border: solid;
}
*/
.peek a:hover img {
	-ms-transform: rotate(-1deg);
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	transform: rotate(-1deg);
	position: relative;
	top: 1vh;
	/*border: solid rgba(0,0,0,0);*/
}

@media (max-width:800px) {
	.category h2 {
		font-size: 3.5vw;
	}
	.list {
		height: auto;
		padding-bottom: 8%;
	}
	.project {
		font-size: 2.75vw;
		width: 30vw;
		padding-right: 3.5%;
	}
}

/* -- end Main -- */



/* -- Pages -- */

	/* -- Top Nav -- */
	.top_nav {
		margin-top: 4%;
		padding: 0% 6%;
		display: flex;
		justify-content: space-between;
		height: 6vh;
	}

	@media (max-width:800px) {
		.top_nav {
			padding-top: 5%;
		}
	}

	.top_nav h1 {
		font-size: 2.8vw;
	}

	.arrow {
		position: relative;
	}

	p.back {
	    display: none; /* hides text */
	    position: absolute;
	    top: 1.3vh;
	    z-index: 100;
	    font-size: .9em;
	    transform: rotate(21deg);
	}

	.top_nav_left:hover .arrow {
		font-size: 1.5em;
	}

	.top_nav_left:hover p.back {
	    display: block; /* shows text when hovering */
	    position: absolute;
	}

	.top_nav_left p.back {
		margin-left: 3em;
	}

	nav {
		display: flex;
		position: relative;
		text-align: right;
	}

	nav.parent a.projects {
		position: absolute;
		top: -.35vh;
		right: 0;
		font-size: 1.3em;
	}

	/* Hidden Nav Menu */
	nav ul.child {
	    display: none; /* hides menu */
	    right: 6vw;
	    top: 0px;
	    background: #ececec;
	    z-index: 100;
	    text-align: right;
	    margin-right: 30px;
	}

	.top_nav_right:hover ul.child {
	    display: block; /* shows menu when hovering */
	}

	nav ul.child li {
		display: inline-block;
	    padding: 0;
	    margin: 0 1.1vw;
	}

	nav ul.child li a {
	    display: block;
	}

	nav ul.child li a:hover {
		-ms-transform: rotate(6deg);
		-webkit-transform: rotate(6deg);
		-moz-transform: rotate(6deg);
		-o-transform: rotate(6deg);
		transform: rotate(6deg);
	}

/*	.side_nav {
		position: fixed;
		margin-top: calc(100% - 85%);
		font-size: 1.3em;
		z-index: 9999;
		width: 100%;
	}

	.leftside {
		transform: rotate(90deg);
		padding-top: 99%;
	}

	.side_nav .leftside a:hover p {
		position: relative;
		bottom: 35px;
		transform: rotate(-25deg);
		opacity: 1;
	}

	.rightside {
		transform: rotate(-90deg);
		padding-bottom: 10%;
	}*/
	
	/* -- end Nav -- */

/*.name{
	position: absolute;
	top: 3%;
	margin-left: 40.7vw;
	font-size: 2.8vw;
}*/

.info {
	padding: 0% 6%;
	width: 30vw;
	position: relative;
	top: 15%;
}

.title h1 {
	font-size: 2rem;
	padding-top: 2%;
	line-height: 1.1;
}

.subtitle {
	font-size: 0.8em;
	position: absolute;
	top: 15%;
	right: -110%;
}

@media (max-width: 900px) {.subtitle{right:10%;}}

.info h6 {
	padding: 8% 0 4% 0;
	font-size: 1em;
}

.info p {
	padding: 8% 8% 8% 0;
}

h6 a:hover {font-style: italic;}
p a:hover {font-style: italic;}

@media (max-width:900px) {
	.info {
		width: 88%;
		position: relative;
		top: 0;
		margin: 20px 0;
	}
	.info h6 {
		padding: 5% 0;
	}
	.info p {
		padding: 5% 0%;
	}
}

.images {
	position: absolute;
	top: calc(100% - 87vh);
	left: 38.45vw;
	width: 55.3vw;
	overflow: scroll;
	/*height: calc(100% - 13vh);*/
	height: 74vh;
	padding-bottom: 8%;
}

.images img {
	width: 100%;
}

section {
	position: sticky;
	position: -webkit- sticky;
	top: 0;
	background: #eeeeec;
	margin-bottom: 6vh;
	/*margin-bottom: calc(100% - 85%);*/
}

@media (max-width:900px) {
	.images {
		position: relative;
		height: auto;
		width: 100%;
		top: 0; left: 0;
	}
	.images img {
		max-width: 100%;
		height: auto;
		padding-bottom: 0 !important;
	}
	section {margin:0;}
}

.lettering {
	position: absolute;
	top: 14%;
	left: 38.45vw;
	width: 55.3vw;
	overflow-x: scroll;
	display: inline-flex;
}

.lettering img {
	width: 200%;
	max-height: 72vh;
	padding-right: 1%;
}

@media (max-width:900px) {
	.lettering {
		position: relative;
		height: auto;
		width: 100%;
		top: 0;
		left: 0;
	}
	.lettering img {
		max-height: 60vh;
		width: auto;
		object-fit: scale-down;
	}
}

.gallery {
	/*display: flex;
	flex-wrap: wrap;*/
	padding: 0 6% 7% 6%;
	position: absolute;
	width: auto;
}

.photo {
	position: relative;
	padding-top: 3%;
}

.photo:first-child {
	padding-top: 0;
}

.photo img {
	max-height: 120vh;
	max-width: 42vw;
	padding-bottom: 4%;
}

@media (max-width:800px) {
	.photo {
		width: 100%;
		display: block;
	}
	.photo img {
		min-width: 100%;
		display: block;
		padding-left:0 !important; padding-right:0 !important;
	}
}

.FL {float:left;}
.FR {float:right;}
#full img {width:100%;height:auto;}


.foods {
	position: absolute;
	top: 15%;
	padding-left: 32.5vw;
	left: 6%;
	width: 55.3vw;
	/*left: 39.5vw;
	width: 54.2vw;*/
	overflow-x: scroll;
	display: inline-flex;
}

.foods img {
	width: auto;
	max-height: 70vh;
	padding-right: 1%;
	background-color: #eeeeec;
}

/*.foods {
	position: absolute;
	top: calc(114% - 92vh);
	padding-left: 32.5vw;
	left: 6%;
	width: 55.3vw;
	overflow: scroll;
	display: inline-flex;
}

.foods img {
	max-width: 36%;
	height: auto;
	max-height: 65vh;
	object-fit: scale-down;
	padding-right: 1%;
	background-color: #eeeeec;
}

@media (min-width:1000px) and (max-width:1200px) {
	.foods {
		padding-left: 0;
		width: 88vw;
		top: calc(114% - 1030px);
	}
	.foods img {
		max-width: 60%;
		margin-top: 40%;
		max-height: 50vh;
		padding-right: .5%;
	}
}*/

@media (max-width:1000px) {
	.foods {
		position: relative;
		height: auto;
		width: 100%;
		left: 0;
		overflow: auto;
		padding-left: 0;
	}
	.foods img {
		max-width: 50%;
		height: 60vh;
		padding-right: 0;
	}
}

/*.foods-info {
	display: block;
	position: fixed;
	bottom: 73.8vh;
	right: 4.4em;
	width: 25vw;
}

@media (max-width:810px) {
	.foods-info {
		bottom: 67vh;
		right: 2.4em;
	}
}

.foods {
	position: relative;
	width: 100%;
	overflow-x: scroll;
	display: inline-flex;
}

.foods img {
	width: auto;
	max-height: 72vh;
}*/

.encounters {
	display: block;
}

.encounters img {
	position: absolute;
	display: block;
	max-height: 65vh;
}

.encounters p {
	display: block;
	position: absolute;
	width: 10vw;
	left: 80vw;
}

.lists {
	padding: 2% 6%;
	display: block;
	overflow: auto;
}

.lists h1 {
	font-size:1.2em;
	padding-bottom: 1%;
}

.lists ul {
	font-weight: bold;
	padding: 1vh 0;
	
}

.lists li {
	font-style: italic;
	list-style-position: outside;
	text-indent: -1.4em;
	padding-left: 1.6em;
    list-style: none;
}

.lists li::before {
	font-style: normal;
	content: "☺"; /*❍ ⚆*/
	padding-right: .7em;
}

.lists li a {
	font-style: normal;
}

.lists li a:hover {
	font-style: italic;
}

label[for=curated] {cursor: pointer;}
#curated {display: none;}
#curated:not(:checked) ~ #curated-list {display: none;}
label[for=studios] {cursor: pointer;}
#studios {display: none;}
#studios:not(:checked) ~ #studios-list {display: none;}
label[for=type] {cursor: pointer;}
#type {display: none;}
#type:not(:checked) ~ #type-list {display: none;}
label[for=foundries] {cursor: pointer;}
#foundries {display: none;}
#foundries:not(:checked) ~ #foundries-list {display: none;}
label[for=designre] {cursor: pointer;}
#designre {display: none;}
#designre:not(:checked) ~ #designre-list {display: none;}
label[for=web] {cursor: pointer;}
#web {display: none;}
#web:not(:checked) ~ #web-list {display: none;}
label[for=friends] {cursor: pointer;}
#friends {display: none;}
#friends:not(:checked) ~ #friends-list {display: none;}
label[for=typedes] {cursor: pointer;}
#typedes {display: none;}
#typedes:not(:checked) ~ #typedes-list {display: none;}
label[for=foodplaces] {cursor: pointer;}
#foodplaces {display: none;}
#foodplaces:not(:checked) ~ #foodplaces-list {display: none;}
label[for=music] {cursor: pointer;}
#music {display: none;}
#music:not(:checked) ~ #music-list {display: none;}

	/* -- Lightbox --*/
	/*.lightbox {
		/** Default lightbox to hidden */
		/*display: none;

		/** Position and style */
		/*position: fixed;
		z-index: 999;
		width: 100%;
		height: 100%;
		text-align: center;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.8);
	}

	.lightbox img {
		/** Pad the lightbox image */
		/*max-width: 90%;
		max-height: 80%;
		margin-top: 2%;
	}

	.lightbox:target {
		/** Remove default browser outline */
		/*outline: none;

		/** Unhide lightbox **/
		/*display: block;
	}*/

	/* -- PopUp --*/
	/*.overlay {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0,0.5);
		transition: opacity 200ms;
		visibility: hidden;
		opacity: 0;
		padding-top: 7%;
	}
	.cancel {
		position: fixed;
		width: 100%;
		height: 100%;
		cursor: default;
	}
		.overlay:target {
			visibility: visible;
			opacity: 1;
		}
	}

	.popup {
		position: fixed;

	}

	.popup img {
		display: block;
		margin: auto;
		max-height: 80vh;
		max-width: 80vw;
	}*/
	/*-- end Lightbox --*/

/* -- end Pages --*/


/* -- About -- */

.about {
	padding: 1.5% 6%;
	width: 50vw;
}

.about-pic {
	position: fixed;
	top: 16vh;
	right: 7vw;
}

.about-pic img {
	max-width: 33.5vw;
	max-height: 80vh;
}

@media (max-width:750px) {
	.about {width: 90%;}
	.about-pic {display:none;}
}

.keywords {
	display: inline-block;
	padding-bottom: 1.2%;
	width: 100%;
	font-weight: bold;
}

	/* Tooltip container */
	.tooltip {
		position: relative;
		display: inline-block;
		padding-right: 1.5%;
	}

	.tooltip h1 {font-size: 1.3em;}

	/* Tooltip text */
	.tooltip .tooltiptext {
		visibility: hidden;
		width: 10vw;
		background-color: hotpink;
		color: #fff;
		text-align: center;
		padding: 10%;
		border-radius: 6px;
		font-size: 1em;
		line-height: 1.2;

		/* Position the tooltip text - see examples below! */
		position: absolute;
		z-index: 1;
	}

	.keywords .tooltip:hover {
		/*font-style: italic;*/
		-ms-transform: rotate(-8deg);
		-webkit-transform: rotate(-8deg);
		-moz-transform: rotate(-8deg);
		-o-transform: rotate(-8deg);
		transform: rotate(-8deg);
		position: relative;
		bottom: 2px;
	}

	/* Show the tooltip text when you mouse over the tooltip container */
	.tooltip:hover .tooltiptext {
		visibility: visible;
	}

.description {
	display: block;
	padding-bottom: 1%;
}

.description h1 {
	font-size: 1.2em;
	padding: 1% 0;
}

.description p {
	padding: 1% 0;
	text-indent: -2.3em;
	padding-left: 2.6em;
}

.description .p1::before {content:"💭";padding-right: 1em;}
.description .p2::before {content:"👀";padding-right: 1em;}
.description .p3::before {content:"✍️";padding-right: 1em;}
.description .p4::before {content:"👩🏻‍💻";padding-right: 1em;}
.description .p5::before {content:"📷";padding-right: 1em;}
.description .p6::before {content:"📋";padding-right: 1em;}

.contact {
	display: inline-block;
	padding: 1% 0;
}

.contact h1 {
	padding-bottom: 1%;
}

.contact p {display: inline-block;}
.contact-links {font-size:.8em;}

/* -- end About -- */


/* -- Footer -- */

.main_footer {
	background: rgba(0,0,0,.1);
	position: absolute;
	width: 100%;
}

.footer {
	background: rgba(0,0,0,.1);
	position: fixed;
	display: block;
	width: 100%;
	z-index: 0;
	bottom: 0;
}

.footer_text {
	padding: 2% 6%;
	font-size: 80%;
}

/* -- end Footer -- */