html, body {
	margin: 0;
	padding: 0;
	height: 3000px; /* Used to enable scrolling */
	background: black;
	width: 100%;
}

/*linear-gradient(55deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 85%);*/

@font-face {
	font-family: Agrandir;
	src: url("../fonts/Agrandir-Narrow.otf") format("opentype");
}

@font-face {
    font-family: Manrope;
    src: url("../fonts/manrope-semibold.otf") format("opentype");
}

a {color:inherit;}

/* ----- HEADER ----- */
.header {
	height: 6vh;
	width: 92%;
	display: inline-flex;
	justify-content: space-between;
	color: white;
	padding: 3% 4%;
	z-index: 99;
	font-family: manrope, sans-serif;
	font-size: 0.8em;
	color: rgba(255,255,255,0.3);
}

/* - Dropdown Menu - */
ul.child {
    display: none;
    position: absolute;
    padding-top: 2vh;
    z-index: 100;
}

li.menu {list-style:none;}
li.menu:hover {cursor:pointer;}
li.menu:hover ul.child {
    display: block;
    position: absolute;
}

ul.child li {
    padding: 0;
   	margin-bottom: 10px;
   	color: white;
}


/* ----- LANDING ----- */
.landing {
	height: 45vw;
	min-height: 15%;
	width: 100%;
	color: white;
	position: relative;
	top: -10vh;
	z-index: 0;
}

.landing video {
	margin: 0 auto;
	display: block;
	position: relative;
	width: 80vw;
}

@media (max-width:1030px) and (max-height:1400px) {
	.landing {height:55vh;}
	.landing video {width:105vw;padding-top:15%;}
}
@media (max-width:800px) and (max-width:900px) {
	.landing video {
		margin: 30% auto 0 auto;
		display: block;
		position: relative;
		width:100vw;
	}
}

/* ----- INTRO ----- */
.intro {
	height: 110vh;
	min-height: 30%;
	width: 100%;
	background: linear-gradient(180deg, #000000 0%, #d14896 80%);
	position: relative;
}

.intro-text {
	padding: 0 4%;
	position: absolute;
	left: 3vw;
	bottom: 10vh; /*calc(100% - 100vh);*/
}

.intro-text h1 {
	font-family: manrope, sans-serif;
	font-size: 2em;
	width: 80vw;
	background: -webkit-linear-gradient(160deg, #de4aa3 15%, #e28b8d 85%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: right;
	padding-bottom: 3%;
	direction: rtl;
	text-indent: 10px;
}
.intro-text p {
	font-family: agrandir, sans-serif;
	color: white;
	text-align:right;
	letter-spacing: 1px;
	padding-right: 10px;
}

@media (max-width:1030px) and (max-height:1400px) {
	.intro-text h1 {font-size:2.5em;}
	.intro-text p {font-size:1.3em}
}
@media (max-width:800px) and (max-height:900px) {
	.intro-text h1 {
		font-size: 1em;
		padding-bottom: 5%;
		text-indent: 5px;
	}
	.intro-text p {
		font-size: 0.65em;
		width: 60vw;
		padding-left: 70px;
		padding-right: 0;
	}
}


/* ----- ABOUT ----- */
.about {
	background: linear-gradient(180deg, #d14896 0%, #e28b8d 50%, #e5cd74 90%);
	height: 100vh;
	min-height: 24%;
	padding-bottom: 18%;
}

.about-text {
	display: block;
	position: absolute;
	left: 4vw;
	width: 62vw;
	background: black;
	margin-top: 5%;
	padding: 22% 10% 10% 10%;
	color: white;
	font-family: manrope, sans-serif;
}

.about-text h1 {font-size:4em;}
.about-text h2 {padding: 2% 0;font-size: 1em;}
.about-text p {
	font-family:agrandir, sans-serif;
	width: 50vw;
	letter-spacing: 0.5px;
	color: rgba(255,255,255,0.5);
	font-size: 1em;
}

@media (max-width:1030px) and (max-height:1400px) {
	.about {height:93vh; min-height:18%;}
	.about-text {margin-top:10%;padding-top:45%;padding-bottom:15%;}
	.about-text h1 {font-size:4.5em;}
	.about-text h2 {font-size:1.4em;width:80%;padding-bottom:4%;}
	.about-text p {font-size:1.2em;}
}
@media (max-width:800px) and (max-height:900px) {
	.about-text h1 {font-size:2.5em;}
	.about-text h2 {font-size:0.8em;padding-bottom:4%;}
	.about-text p {font-size:0.65em;padding-bottom:10%;}
}

.learn {
	position: absolute;
	bottom: 2%;
	right: 16%;
	margin-bottom: 2.8vw;
	width: 140px;
	background: -webkit-linear-gradient(0deg, #e5d571 0%, #db645d 15%, #794a7c 30%, #595298 50%, #5580c5 65%, #388eb4 80%);
	z-index: 1;
}

.learn-text {
	padding: 8% 10%;
	font-family: agrandir, sans-serif;
	font-size: 1em;
	/*background: -webkit-linear-gradient(0deg, #e5d571 0%, #db645d 15%, #794a7c 30%, #595298 45%, #4e6dac 60%, #388eb4 75%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
	letter-spacing: 1px;
	text-align: center;
	z-index: 3;
	position: relative;
}

.learn-bg {
	position: absolute;
	background: black;
	top: 2px;
	left: 3px;
	height: 40px;
	width: 135px;
	z-index: -1;
}

.learn-text:hover {cursor: pointer;}
.learn-text:hover .learn-bg {display: none;}

@media (max-width:800px) and (max-height:900px) {
	.learn {
		bottom: 1.5%;
		right: 10%;
		margin-bottom: 2.8vw;
		width: 80px;
	}
	.learn-text {
		padding: 7% 8%;
		font-size: 0.6em;
	}

	.learn-bg {
		top: 1px;
		left: 2px;
		height: 20px;
		width: 76px;
		z-index: -1;
	}
}


/* ----- EVENT ----- */
.event {
	height: 120vh;
	background: linear-gradient(180deg, #e5cd74 0%, #a7cba1 40%, #55bee1 100%);
}

.event-text {
	color: white;
	width: 70vw;
	padding-left: 4%;
	/*padding-right: 15%;*/
	position: relative;
	left: 12vw;
	font-family: manrope, sans-serif;
}
.event-text h1 {
	font-size:4em;
	text-align: right;
	padding: 15% 0;
}
.event-text h2 {
	position: relative;
	font-size: 2em;
}
.event-text h3 {
	font-size: 2em;
	position: relative;
	top:2.5vh;
	left:14vw;
}

.event-dscp {width: 30vw;}
.event-dscp p {
	padding-bottom:8%;
	font-family: agrandir, sans-serif;
	font-size: 1.2em;
}

@media (max-height:1400px) { .event{height:70em;}}
@media (max-width:800px) and (max-height:900px) {
	.event {height:155vw;}
	.event-text {
		width: 70vw;
		padding-left: 4%;
		left: 12vw;
	}
	.event-text h1 {
		font-size:2em;
		padding: 25% 0;
	}
	.event-text h2 {font-size: 1em;}
	.event-text h3 {font-size: 1em; left: 22vw;}
	.event-dscp {width: 42vw;}
	.event-dscp p {font-size:0.65em;padding-bottom:12%;}
}

/* ----- INSTAGRAM ----- */
.ig {
	margin: 2% 4%;
	border: solid 2vw transparent;
	border-image: url(../images/unhap_gradient.jpg) 30 round;
}

.ig-content {
	padding: 4%;
	color: white;
	position: relative;
	display: block;
}

.ig-feed {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.ig-feed img {
	display: block;
	width: 26.4vw;
	padding-bottom: 2%;
}

@media (max-width:900px) {
	.ig-feed {
		overflow-x: scroll;
		overflow-y: hidden;
	}
}

.ig-text h3 {
	font-family: manrope, sans-serif;
	padding-bottom: 6px;
}

.hashtags {
	display:inline-flex;
	width: 40vw;
}
.hashtags h3 {
	display: block;
	padding-right: 1vw;
	background: -webkit-linear-gradient(0deg, #e5d571 0%, #db645d 15%, #794a7c 30%, #595298 45%, #4e6dac 60%, #388eb4 75%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: agrandir, sans-serif;
	letter-spacing: 1;

}
.hashtags h4 {
	display: block;
	padding-right: 1vw;
	background: -webkit-linear-gradient(180deg, #e5d571 15%, #db645d 25%, #794a7c 35%, #595298 45%, #4e6dac 60%, #388eb4 75%, #27ae96 90%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: agrandir, sans-serif;
	letter-spacing: 1;
}
.hashtags h5 {
	display: block;
	padding-right: 1vw;
	background: -webkit-linear-gradient(180deg, #794a7c 30%, #595298 45%, #4e6dac 60%, #388eb4 80%, #27ae96 90%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: agrandir, sans-serif;
	letter-spacing: 1;
}

.ig-icons {
	display: inline-flex;
	font-family: agrandir, sans-serif;
	letter-spacing: 1;
	padding-top: 16px;
}
.ig-icons i {
	background: -webkit-linear-gradient(180deg, #52bde3 20%, #82d0e9 50%, #8ba8f0 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.ig-icons h6 {
	background: -webkit-linear-gradient(0deg, #52bde3 10%, #82d0e9 30%, #8ba8f0 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media (max-width:800px) and (max-height:900px) {
	.ig-text {font-size:0.8em;}
	.ig-text h3 {padding-bottom:1px;}
	.hashtags {font-size:0.8em;}
	.ig-icons {font-size:0.6em;padding-top:0;}
}

.signup {
	font-family: agrandir, sans-serif;
	letter-spacing: 1px;
	font-size: 0.8em;
	position: absolute;
	right: calc(100% - 84vw);
	bottom: 5.4vh;
}

.signup h4 {
	padding-left: 1vw;
}

@media (max-width:900px) {
	.signup {
		position: relative;
		display: block;
		bottom: 0;
		left: 0;
	}
}

.signup-border {
	background: -webkit-linear-gradient(0deg, #52bde3 10%, #82d0e9 30%, #8ba8f0 80%);
	width: 25vw;
	position: relative;
	margin-top: 1.2%;
}

.signup input[type=text] {
	color: rgba(255,255,255,0.5);
	width: 22.6vw;
	padding: 2% 4%;
	margin: 0.2vw;
	background: black;
}

.signup input[type=submit] {
	color: #8ba8f0;
	position: absolute;
	top: .7vh;
	right: 1vw;
	font-size: 1.5em;
	cursor: pointer;
}

@media (max-width:800px) and (max-height:900px) {
	.signup-border {width:40vw;}
	.signup {font-size:0.6em;padding-top:10px;}
	.signup input[type=text] {
		font-size:0.8em;
		width: 37vw;
		padding: 4px;
		margin: 2px;
	}
	.signup input[type=submit] {
		top: .8vh;
		right: 1.5vw;
		font-size: 1em;
	}
}


/* ----- BLOG ----- */
.blog {
	margin: 0 4%;
	height: 165vh;
	background: -webkit-linear-gradient(-90deg, #9190f4 0%, #de4ca6 50%, #000 90%);
	overflow-y: scroll;
}

.blog-content {
	padding: 4%;
	display: inline-block;
	position: relative;
}

.blog-word {
	display: block;
	color: white;
	font-family: manrope, sans-serif;
	font-size: 3em;
	position: absolute;
	top: 16vh;
	left: 12vw;
}

.blog-post {
	display: block;
	position: absolute;
	right: calc(100% - 85vw);
}

.card {
	background: rgba(255, 255, 255, 0.2);
	padding: 1%;
	margin-bottom: 6%;
	width: 58vw;
}

.card img {
	width: 58vw;
	height: 40vh;
	object-fit: cover;
}

.blog-text {
	display: inline-flex;
	position: relative;
}

.title {
	width: 22vw;
	display: block;
	padding-left: 6%;
	padding-right: 2%;
	position: absolute;
	top: -24%;
}

.title h2 {
	font-family: manrope, sans-serif;
	font-size: 1.5em;
	color: white;
}

.extract {
	display: block;
	position: relative;
	left: 26vw;
	width: 30vw;
}

.extract p {
	font-family: agrandir, sans-serif;
	font-size: 0.8em;
	color: white;
	padding: 1.5%;
	padding-bottom: 14%;
}

@media (max-width:1030px) and (max-height:1400px) {.blog {height:85em;}}
@media (max-width:800px) and (max-height:900px) {
	.blog {height:145vh;}
	.blog-word {top: 60px;font-size:2.5em;}
	.blog-post {top: 150px;}
	.card {width:73vw;height:64vh;}
	.card img {width:73vw;height:25vh;}
	.blog-text {height: 31vh;}
	.title {top:-12%;width:50vw;}
	.blog-text h2 {font-size:1.2em;}
	.extract {left:3vw;top:37%;width:68vw;}
}

.read {
	position: absolute;
	bottom: 0;
	left: 46vw;
	margin-bottom: 0.6vw;
	width: 80px;
	background: -webkit-linear-gradient(0deg, #de4ca6 10%, rgba(255,255,255,0.2) 90%);
	z-index: 1;
}

.read-text {
	padding: 8% 10%;
	color: white;
	font-family: manrope, sans-serif;
	font-size: .5em;
	letter-spacing: 1px;
	text-align: center;
	z-index: 3;
	position: relative;
}

.read-bg {
	display: none;
	position: absolute;
	background: -webkit-linear-gradient(0deg, #de4ca6 30%, rgba(255,255,255,0.1) 90%);
	top: 0; left: 0;
	height: 25px;
	width: 80px;
	z-index: -1;
}

.read-text:hover {cursor: pointer;}
.read-text:hover .read-bg {display: block;}

@media (max-width:800px) and (max-height:900px) {
	.card {height:70vh;}
	.title {width:70vw;}
	.read {bottom: -74px;}
}

.goto {
	position: absolute;
	bottom: -5%;
	right: 0;
	height: 40px;
	width: 40px;
	background: -webkit-linear-gradient(0deg, #9190f4 0%, #de4ca6 100%);
	border-radius: 50%;
	z-index: 1;
}

.goto-text {
	padding: 15%;
	color: white;
	font-family: manrope, sans-serif;
	font-size: 1.2em;
	letter-spacing: 1px;
	text-align: center;
	z-index: 3;
	position: relative;
}

.goto-bg {
	position: absolute;
	background: black;
	top: 2px;
	left: 2px;
	height: 36px;
	width: 36px;
	border-radius: 50%;
	z-index: -1;
}

.goto-text:hover {cursor: pointer;}
.goto-text:hover .goto-bg {display: none;}

@media (max-width:800px) and (max-height:900px) {
	.goto {height:30px;width:30px;bottom:-4%;}
	.goto-text {font-size:1em;padding:10%;}
	.goto-bg {height:26px;width:26px;}
}


/* ----- FOOTER ----- */
.footer {
	border-top: solid 1vw;
	border-image: url(../images/unhap_gradient.jpg) 30;
	background: black;
	position: relative;
	width: 100%;
	bottom: 0; 
	/*border-color: -webkit-linear-gradient(0deg, #e5d571 0%, #dd655f 20%, #8665d0 30%, #6a76b8 45%, #567fc5 55%, #37b7bf 75%, #5ac3b2 90%);*/
}

.footer-text {
	padding: 3% 4%;
	position: relative;
}

nav {
	position: relative;
}

nav ul {
  	display: inline-block;
  	width: 80%;
}

nav ul li {
	display: block;
	width: 10vw;
	margin-left: 6%;
	list-style-type: none;
	float: left;
	color: white;
	font-family: manrope, sans-serif;
	font-size: 1.2em;
}

@media (max-width:800px) and (max-height:900px) {
	.footer {height:8vh;}
	nav ul li {font-size:0.65em;}
}

.share-button {
	position: absolute;
	bottom: 0;
	right: 4%;
	margin-bottom: 2.4vw;
	width: 140px;
	background: -webkit-linear-gradient(0deg, #5ac3b2 0%, #51a7fe 80%);
	z-index: 1;
}

.share-text {
	padding: 8% 10%;
	color: white;
	font-family: agrandir, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-align: center;
	z-index: 3;
	position: relative;
}

.share-bg {
	position: absolute;
	background: black;
	top: 2px;
	left: 3px;
	height: 40px;
	width: 135px;
	z-index: -1;
}

.share-text:hover {cursor: pointer;}
.share-text:hover .share-bg {display: none;}

@media (max-width:800px) and (max-height:900px) {
	.share-button {width:86px;margin-bottom:0.8em;}
	.share-text {font-size:0.6em;padding:6% 8%;}
	.share-bg {top:1px;left:2px;height:20px;width:82px;}
}


//

.slideanim {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 1.2s;
}
.slideanim::after {
    /*useful when its child elements are float:left;*/ 
    content: "";
    display: table;
    /*clear: both;*/
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(20%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}

/*OR

body {
	width 100%
	height 100%
	min-height 100vh
	display flex
	align-content center
	align-items center
	justify-content center
	margin 0
	background #282828
}

div {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 200px;
	margin: auto;
	background-color: #21D4FD;
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
	border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
	animation: morphing 10s infinite;
	overflow: hidden;
	&:hover
		animation-play-state:; paused;
	}
h1 {
	color white
	font-family Helvetica Neue, Helvetica, Verdana, sans-serif
	font-weight 400
	font-size 35px
	line-height 100%
	text-transform uppercase
	letter-spacing 0.02em
	margin auto
}
@keyframes morphing {
	0% {
		border-radius 30% 70% 70% 30% / 30% 30% 70% 70%
		box-shadow 15px 15px 50px rgba(0,0,0,0.2)
	}
	25% { 
		border-radius 58% 42% 75% 25% / 76% 46% 54% 24%
	}
	50% {
		border-radius 50% 50% 33% 67% / 55% 27% 73% 45%
		box-shadow -10px -5px 50px rgba(0,0,0,0.2)
	}
	75% {
		border-radius 33% 67% 58% 42% / 63% 68% 32% 37%		
	}
}*/