
#liminalspace {
  position: absolute;
  box-sizing: border-box;
  cursor: none;
}

#point-csr {
  position: absolute;
  top: -50px;
  pointer-events: none;
  transition: all 0.05s ease;
  z-index: 1;
  font-size: 2rem;
}

/* -- intro -- */

.intro {
  height: 100vh;
  width: 100vw;
  display: block;
  position: fixed;
  top: 0;
}

.center {
  margin: 0;
  position: absolute;
  top: 48%;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 752px) {
  .center {
    top: 42%;
  }

  #welcome span {
      display: block;
      padding: 8px;
  }
}

.select-page {
  margin-top: 1.25rem;

  select {
    background: var(--lightpink);
    height: 32px;
    padding: 0 10px 0 8px;
    transform: translateX(2px);
    border: 1px outset pink;
    animation: border 1s infinite;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    font-family: var(--sans);
    font-size: 0.75rem;
    letter-spacing: 0.25px;

    cursor: none;
    &:focus {
      cursor: pointer;
    }
  }

  @keyframes border {
    0%, 50% {
      border-style: outset;
    }
    50.01%, 100% {
      border-style: inset;
    }
  }
}

/* -- skills -- */

#skills {
  display: inline-flex;
  margin: 30% 0 0 20%;
  white-space: nowrap;

  p {
    font-family: var(--serif);
    font-size: 32px;
  }

  @media screen and (max-width: 752px) {
      display: block;
  }
}

/* -- footer -- */

#liminalspace .footer {
  position: absolute;
  top: unset;
  bottom: -5rem;
  padding: 15px 20px;
  transition: 0.5s ease;
  z-index: 2;

  &:hover {
    bottom: 0;
  }

  @media screen and (max-width: 752px) {
      bottom: -26%;
  }
}

