/* --- PROJECT PAGES --- */

.container {
  padding: 30px;
  width: calc(100vw - 60px);
  display: flex;
  flex-flow: row wrap;
}

#nav, #proj-info {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}

#nav {
  justify-content: space-between;
}

#menu-container {
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 100%;

  .current {
    background: var(--lightpink);

    &::before {
      content: "✸ "; /* → */
    }
  }
  
  .disabled {
    pointer-events: none;
  }

  &.show {
    max-height: 645px;
    opacity: 1;
  }

  ul {
    height: 100%;
    overflow: scroll;
  }

  > * {
    flex-basis: 50%;
  }
}

#menu-btn {
  cursor: pointer;
}

#menu-line {
  display: none;
  width: 100%;
  border-bottom: 1px solid #888;
}

#proj-info {
  align-content: space-between;
  margin: 30px 0;

  h2 {
    font-family: var(--serif);
    font-size: 2rem;
    flex-basis: 100%;
  }
}

.content-info {
  width: 50%;
  padding-top: 12px;
  align-content: flex-end;
}

.details {
  display: block;
  font-size: 0.75rem;

  > div {
    display: flex;
    padding: 3px 0;
  }

  h4 {
    width: 150px;
  }
}

.desc, .case-study > p {
  font-size: 1rem;
  line-height: 130%;
}

.project {
  max-width: calc(100vw - 60px);

  > div {
    line-height: 115%;
    padding-bottom: 10%;
    font-size: 0.75rem;
  }

  img {
    width: 100%;
    margin-bottom: 12px;
  }

  iframe {
    max-width: calc(100vw - 60px);
    aspect-ratio: 16 / 9;
  }

  .half {
    display: flex;
    flex-flow: row wrap;
    gap: 24px;

    > * {
      flex-basis: calc(50% - 12px);
      box-sizing: border-box;
    }

    .spacer {
      height: 36%;
    }
  }
}

.case-study {
  display: flex;
  flex-flow: column nowrap;

  &.left > * {
    margin-right: 50%;
  }
  &.right > * {
    margin-left: 50%;
  }

  h5 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 0.5rem;
  }

  > p {
    margin-bottom: 4rem;
  }
}

.case-points {
  margin: 0.5rem 0;

  h3 {
    text-transform: uppercase;
    margin-bottom: 0.25rem;
  }
  &.pain h3::before {
    content: "✗ ";
  }
  &.todo h3::before {
    content: "□ ";
  }

  p {
    margin-bottom: 0.75rem;
    padding: 0 0.75rem;
  }
}

@media screen and (max-width: 670px) {
  #menu-container {
    display: block;

    > div:nth-child(2) {
      padding-top: 20px;
    }
  }

  .details {
    width: auto;
    padding: 20px 0;

    h4 {
      width: 120px;
    }
  }

  .desc {
    width: auto;
  }

  .project {
    max-width: calc(100vw - 60px);

    > div {
      padding-bottom: 20%;
    }

    .half > * {
      flex-basis: 100%;
    }
  }

  .case-study {
    &.left, &.right {
      > * {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

#projNav {
  display: flex;
  width: calc(100% - 60px);
  padding: 0 30px 48px 30px;
  justify-content: space-between;

  a {
    &:hover {
      background-color: unset;

      span {
        font-family: var(--serif);
        font-size: 1.25rem;
      }
    }
  }

  span {
    padding: 0 4px;
  }

  .prevProj {
    text-align: left;

    img {
      object-position: left;
    }
  }

  .nextProj {
    text-align: right;

    img {
      object-position: right;
    }
  }

  img {
    display: none;
    flex-basis: 100%;
    max-width: calc(100vw - 60px);
    max-height: 60vh;
    object-fit: contain;
    padding-top: 8px;
  }
}

#footer > div {
  &:nth-child(1), &:nth-child(3) {
    flex-basis: 66%;
  }
}

.footer-text {
  font-size: 1rem;
  margin-top: 10px;
}

.Cyear {
  margin-top: 80px;
}

.email {
  &::after {
    content: "email";
  }

  &:hover::after {
    content: "chowantoinette@gmail.com";
  }
}



#colors_archive img {
  border: solid 1px;
}

