/* ------- WORK ------- */

.work, .more-info {
  width: calc(100% - 60px);
  display: flex;
  flex-flow: row nowrap;

  > * {
    flex: 0 0 50%;
  }
}

.work {
    position: fixed;
    top: 0;
    overflow-y: hidden;
    align-items: flex-start;
  }

.homepage {
  .work {
    margin: 30px;
    height: calc(100vh - 60px);
  }

  .more-info {
    background-color: white;
  }
}

.more {
  font-size: 0.75rem;
  line-height: 100%;

  span {
    display: none;
  }

  p:hover span {
    display: inline-block;
  }
}

/* ------- PROJECTS ------- */

#projects {
  margin: 30px 0;
  height: calc(100% - 60px);
  overflow: auto;
}

#categories {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 28px;
  width: calc(50% - 30px);

  span {
    display: none;
  }

  .active span {
    display: inline-block;
  }
}

.category {
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: context-menu;
  padding-top: 5px;

  &.active {
    border: 1px outset pink;
    padding: 8px 12px 4px 12px;
    background: var(--lightpink);
    line-height: 1;
  }
}
    
#proj-list {
  margin-top: 20px;
  margin-bottom: 30px;

  li {
    &:hover {
      background: pink;
    }

    &.wip:hover {
      background: gainsboro;
    }
  }

  .wip > * {
    color: rgba(0, 0, 0, 0.25);
  }

  .title {
    display: inline;
    padding-right: 6.5px;
  }

  img {
    display: none;
    position: fixed;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
    width: calc(50vw - 54px);
    max-height: 72vh;
    object-fit: cover;
    z-index: -1;
  }

  .showcase {
    background-color: var(--lightpink);

    img {
      display: block !important;
    }
  }

  .fadeout {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

}

#view {
  display: none;
  position: absolute;
  pointer-events: none;
  font-family: var(--serif);
  z-index: -1;
  color: white;
  mix-blend-mode: exclusion;
}

.subtext {
  position: relative;
  font-size: 0.875rem;
  padding: 3px 0 3px 14px;
  display: none;

  &::before {
    content:"∟ ";
  }
}

#proj-list .subtext::before {
  position: absolute;
  left: 0;
}


// -⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻--⎽__⎽-⎻⎺⎺⎻-⎽__⎽--⎻⎺⎺⎻- //

/* --- responsiveness --- */

@media screen and (max-width: 747px) {
  #scroll-trigger {
    display: none;;
  }

  .work {
    flex-flow: row wrap;
    gap: 30px;
    position: relative;
    height: calc(100vh - 30px) !important;
    margin-bottom: 0;

    > section {
      flex-basis: 100%;
    }
  }

  #name {
    height: auto;
    margin-top: 42px;
  }

  .more-info {
    padding-top: 20px;

    flex-flow: column nowrap;
    align-items: initial;
    gap: 32px;
    text-align: center;

    > div {
      flex: 0 0 auto;
    }

    .more, .visit-space a {
      span {
        display: block;
      }
    }

    .visit-space {
      order: 2;
    }
  }

  .homepage .more-info {
    margin-bottom: 30px;
  }

  #projects {
    order: 2;
    height: calc(100vh - 180px);
    margin-top: 0;

    a {
      cursor: none;

      &:last-child {
        margin-bottom: 30px;
      }
    }
  }

  #proj-list {
    .subtext {
      display: block;
      padding-left: 18px;
    }

    img {
      display: block;
      position: relative;
      width: 100%;
      padding: 6px 0 30px 0;
      top: 0;
      left: 0;
      margin-right: 0;
      transform: none;
    }
  }

  #categories {
    width: calc(100% - 60px);
  }
  .category.active {
    padding: 6px 2px 4px 4px;
  }
}
